<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CDM</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <h1 id="title">Bem-vindo ao CDM</h1>
    <form id="chat">
        <input type="text" name="username" placeholder="Digite seu Usuário" value="<%= name %>">
        <div class="messages"></div>
        <input type="text" name="message" placeholder="Digite sua mensagem">
        <button type="submit">Enviar</button>
    </form>

    <footer>
        Feito por Lucas, Victor e Vinicius.
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript">
        var socket = io('https://chat-verbenas.herokuapp.com/');
        
        var windowTitle = 'CDM';
        var window_focus = false;
        setInterval(function() {
            $(window).focus(function() {
                window_focus = true;
                document.title = windowTitle;
            })
            .blur(function() {
                window_focus = false;
            });
        }, 500);

        function renderMessage(message)
        {
            $('.messages').append('<div><strong>'+message.author+': </strong>'+message.message+'</div>');
        }

        socket.on('receivedMessage', function(message)
        {
            renderMessage(message);
            if(!window_focus)
            {
                document.title = windowTitle + ' - Nova Mensagem';
            }
        });

        $('#chat').submit(function(event){
            event.preventDefault();

            var author = $('input[name=username]').val();
            var message = $('input[name=message]').val();

            if(author.length && message.length){
                var messageObject = {

                    author: author,
                    message: message,

                };

                socket.emit('sendMessage', messageObject);
                $('input[name=message]').val('');
            }
        });
    </script>

</body>
</html>