@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
html, body {
    font-family: 'Roboto', sans-serif;
    height: 100%;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #particles-js{
    height: 100vh;
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center 0;
    margin: 0 auto;
  }

  #title {
    margin: 10px 0;
    text-align: center;
    color: #069;
  }
  
  #chat {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  input {
    width: 600px;
    border: 1px solid #ddd;
    height: 50px;
    padding: 0 20px;
    font-size: 14px;
  }
  
  button {
    width: 600px;
    height: 50px;
    font-size: 14px;
    background: #069;
    text-align: center;
    line-height: 50px;
    font-weight: bold;
    color: #FFF;
    margin-top: 10px;
  }
  
  .messages {
    width: 600px;
    height: 400px;
    margin: 20px 0;
    border: 1px solid #ddd;
    padding: 20px;
    overflow-y: auto;
  }

  footer {
    padding: 10px 10px;
    border:1px solid #eee;
    text-align: center;
    color: #069;
  }